/******************/
/*     TEXT       */
/******************/
h2, h3, h4, h5 {
    color: #189018;
    font-family: sans-serif;
}

blockquote {
    background-color: #6f6f6f;
    color: azure;
    padding: 10px;
    border-radius: 3px;
}


/******************/
/*     TABLE      */
/******************/
table, th, td {
    border: 3px solid black;
    border-collapse: collapse;
    text-align: center;
}

table {
    margin: 0 auto;
    width: 75%;
    font-family: sans-serif;
    box-shadow: 15px 20px 50px 0px rgba(0, 0, 0, 0.9);
}

th, td {
    border: 1px solid #000;
}

thead {
    font-weight: bold;
    color: #a1f4ff;
    border: 3px solid #000;
    background-color: #2f2f2f;
}

tbody tr:nth-child(1), tfoot {
    background-color: #e8e8e8;
}


/******************/
/*     LIST       */
/******************/
ul {
    list-style-type: square;
}

a:link, a:visited  {
    text-decoration: none;
    color: crimson;
    transition: 0.5s;
}

a:hover, a:active {
    color: #e08799;
}

form ul {
    list-style: none;
}

#teamRoster li img {
    height: 100px;
    margin: -100px 0px;
    opacity: 0.2;
    user-select: none;
    z-index: -1;
    position: relative;    
}

ol li:nth-child(1) {
    font-weight: bold;
}